@model BlokjeKwijt.Web.Models.BlokjeViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BlokjeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="BlokNummer" class="control-label"></label>
                <input asp-for="BlokNummer" class="form-control" />
                <span asp-validation-for="BlokNummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Lengte" class="control-label"></label>
                <input asp-for="Lengte" class="form-control" />
                <span asp-validation-for="Lengte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Breedte" class="control-label"></label>
                <input asp-for="Breedte" class="form-control" />
                <span asp-validation-for="Breedte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hoogte" class="control-label"></label>
                <select asp-for="Hoogte" class="form-control" asp-items="@Html.GetEnumSelectList<Hoogte>()">
                </select>
                <span asp-validation-for="Hoogte" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nopjes" class="control-label"></label>
                <input asp-for="Nopjes" class="form-control" />
                <span asp-validation-for="Nopjes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KleurId" class="control-label"></label>
                <select asp-for="KleurId" class="form-control" asp-items="@(new SelectList(Model.KleurenLijst , "Id" , "KleurNaam"))">
                </select>
                <span asp-validation-for="KleurId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageFile" class="control-label"></label>
                <input type="file" asp-for="ImageFile" accept="image/*" />
                <span asp-validation-for="ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Edit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
